@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::before,
*::after {
    
    box-sizing: border-box;
}

:root {
 --clr-background: #fbf8f9;
 --clr-primary: #102744;
 --clr-dark: #7da68d;
 --clr-light: #fff;
 --clr-graphic: #B9560E;
 --fw-normal: 400;
 --fw-medium: 500;
 --fw-bold: 600;
 --grid: 1fr;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-primary);
    line-height: 1.5;
}

.btn {
    cursor: pointer;
    padding: .5em 1.25em;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-weight: var(--fw-normal);
    margin-bottom: .5em;

}

.btn-primary {
    background-color: var(--clr-light);
    color: var(--clr-primary);
    
    
}

.btn-primary:hover {
    background-color: var(--clr-graphic);
    color: var(--clr-light);
    transition: ease .2s;
}

.btn-ghost {
    outline: 3px solid var(--clr-light);
    outline-offset: -3px;
    color: var(--clr-light);
}

.btn-ghost:hover {
    background-color: var(--clr-primary);
    outline-color: var(--clr-primary);
    color: var(--clr-light);
    transition: ease .2s;
}


/* End of resources */


header {
    background-color: var(--clr-background);
    
    text-align: center;
}

.logo {
    margin-top: .6em;
    max-width: 60px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    list-style: none;
    font-size: 1.1rem;
    font-weight: var(--fw-medium);
    letter-spacing: .5px;
    
}

.nav-list-link {
    text-decoration: none; 
    color: inherit;
    
}

.nav-list-link:hover {
    color: var(--clr-dark);
}


/* end of nav */

.landing {
    padding: 3em 1em 5rem;
    
}

.hero-green {
    background-image: url(/images/Group\ 14.png);
    background-size: cover;
   
}

.hero-title {
    font-family: 'Spicy Rice', cursive;
    color: var(--clr-light);
    font-size: 4rem;
    margin: 0;
    letter-spacing: 2px;
    
}

.hero-body {
    padding: 0;
    font-weight: var(--fw-bold);
    font-size: 1.3rem;
    color: var(--clr-light);
    /* max-width: 250px; */
}

@media (min-width: 500px ) {
    .landing {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) minmax(20rem, 20ch) minmax(1em, 3fr);
        justify-items: start;
    }

    .landing > * { grid-column: 2 / 3; }

    .hero-green {
        background-position: left bottom;
    }

    header {
        padding: 1em 2em;
    }

    .nav-list {
        justify-content: end;
        

    }
    .nav-list-item {
    padding-left: 1rem;
    }

    .logo {
        float: left;
        margin-top: 0;
        }

 .climate {
    display: grid;
        grid-template-columns: minmax(1em, 1fr) minmax(30ch, 1em) minmax(1em, 3fr);
        justify-items: start;
 }

.climate > * { grid-column: 2 / 3; } 


    .graphhic {
    position: relative;
    padding: 0;
    overflow: hidden;

    }

    .reverse {
    font-size: 2.9rem;
 

    }

}


@media (min-width: 1200px) {
    .hero-green {
        background-position: center right;
        
    }

    .landing {
        padding-bottom: 9rem;
    }

    .nav-list {
        justify-content: right;
    }

}

/* End of Header/landing section */ 

.climate {
    padding: 3em 1em 4rem;

}

.disaster-graphic {
    background-color: var(--clr-dark);
}


.reverse {
    font-size: 2.5rem;
    font-weight: var(--fw-normal);
    color: var(--clr-light);
    position: relative;
    padding-bottom: 3rem;
    z-index: 2;
    
    
}

.orange {
    display: block;
    padding: 1.5rem;
    background-color: var(--clr-graphic);
    color: var(--clr-light);
    width: 80%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    
}

.graphhic {
    margin: -290px 0 0 120px;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.planty {
    
   width: 400px;
    

}


/* steps section */

.growth {
    background-color: var(--clr-primary)
    
}

 .growing {
    color: var(--clr-dark);
    font-size: 3rem;
    font-weight: var(--fw-normal);
    letter-spacing: 4px;
    margin: 0;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}  

.growing::after {
    content: 'with Green.';
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 1.2rem;
}



.step-grid {
    display: grid;
    gap: .7rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 2em;
    counter-reset: counter-grid;
    
}



.indentbox {
   
    padding: 2rem;
    display: block;
    background-color: #DAE7C9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    
    
}

.paragraph-padding {
    position: relative;
}

.paragraph-padding::before {
    counter-increment: counter-grid;
    content: counter(counter-grid) ;
    position: absolute;
    left: -1em;
    top: -2em;
    width: 2em;
    height: 2em;
    border: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indentboximg:nth-child(2) {
    grid-row: span 3;
}



.blossom {
    width: 90%;
    height: 100%;
}

@media (max-width: 600px ) {

    .growing::after {
        display: none;
    }


    .indentboximg {
        display: none;
    }

    .step-grid {
        grid-template-columns: 1fr;
    }

    .paragraph-padding {
        font-size: .7em;
    }

    .indentbox {
        padding: 1.3rem;
    }

    .floatcontainer {
        display: grid;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        overflow: hidden;
    }

    

   

}




/* 4 photo grid */
.fourphotogrid {
    margin: 5em;
    overflow: hidden;
}


.floatcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    overflow: hidden;
    
}

.photo {
    width: 400px;
    height: 400px;
}

.box {
    width: 100%;
    height: 100%;
}








footer {
    background-color: var(--clr-dark);
    width: 100%;
    margin: 0;
}

.footer-wrapper {
    display: flex;
    
}

.footer-text {
    color: var(--clr-background);
    font-size: 1.6rem;
    padding: 30px 20px;
    margin-top: 0;
}

.paint {
    width: 200px;
    height: 250px;
}

@media (min-width: 900px ) {
    .footer-text {
        font-size: 2.3rem;
    }
}


    
















