@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::before,
*::after {
    
    box-sizing: border-box;
}

:root {
 --clr-background: #D8CC9C;
 --clr-primary: #586C3D;
 --clr-dark: #867C58;
 --clr-light: #fff;
 --fw-normal: 400;
 --fw-medium: 500;
 --fw-bold: 600;
 --grid: 1fr;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-primary);
    line-height: 1.5;
}

.btn {
    cursor: pointer;
    padding: .5em 1.25em;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-weight: var(--fw-normal);
    margin-bottom: .5em;

}

.btn-primary {
    background-color: var(--clr-light);
    color: var(--clr-primary);
    
    
}

.btn-primary:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    transition: ease .2s;
}

.btn-ghost {
    outline: 3px solid var(--clr-light);
    outline-offset: -3px;
    color: var(--clr-light);
}

.btn-ghost:hover {
    background-color: var(--clr-dark);
    outline-color: var(--clr-dark);
    color: var(--clr-light);
    transition: ease .2s;
}


/* End of resources */


header {
    background-color: var(--clr-background);
    
    text-align: center;
}

.logo {
    margin-top: .6em;
    max-width: 60px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    list-style: none;
    font-size: 1.1rem;
    font-weight: var(--fw-medium);
    letter-spacing: .5px;
    
}

.nav-list-link {
    text-decoration: none; 
    color: inherit;
    
}

.nav-list-link:hover {
    color: var(--clr-light);
}


/* end of nav */

.landing {
    padding: 3em 1em 5rem;
    
}

.hero-green {
    background-image: url(/images/Group\ 14.png);
    background-size: cover;
   
}

.hero-title {
    font-family: 'Spicy Rice', cursive;
    color: var(--clr-light);
    font-size: 4rem;
    margin: 0;
    letter-spacing: 2px;
    
}

.hero-body {
    padding: 0;
    font-weight: var(--fw-bold);
    font-size: 1.3rem;
    color: var(--clr-light);
    /* max-width: 250px; */
}

@media (min-width: 500px ) {
    .landing {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) minmax(20rem, 20ch) minmax(1em, 3fr);
        justify-items: start;
    }

    .landing > * { grid-column: 2 / 3; }

    .hero-green {
        background-position: left bottom;
    }

    header {
        padding: 1em 2em;
    }

    .nav-list {
        justify-content: end;
        

}
.nav-list-item {
    padding-left: 1rem;
}

.logo {
    float: inline-start;
    margin-top: 0;
}

}

@media (min-width: 1200px) {
    .hero-green {
        background-position: center right;
        
    }

    .landing {
        padding-bottom: 9rem;
    }

    .nav-list {
        justify-content: right;
    }
}

/* End of Header/landing section */ 

.climate {
    padding: 2em 1em 5rem;
}

.reverse {
    font-size: 2.5rem;
    font-weight: var(--fw-normal);
    color: var(--clr-light);
    z-index: 10;
}

.disaster-graphic {
    background-color: var(--clr-background);
} 


.graphic-image {
    z-index: 1;
    margin: -150px 0 0 205px;
    padding: 0;
}

.greenroof {
    max-width: 600px;
    
}


















