@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav {
    position: relative;
    width: 100%;
    height: 5vh;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D8CC9C;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #586C3D;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
    text-decoration: none;
}

.hero {
    display: flex;
    margin: 10px;
    width: 100%;
    padding: 60px 80px;
}

.hero-content {
    display: flex;

}

.hero-text {
    width: 46%;
    padding-top: 140px;
}

.hero-text h1 {
    font-family: 'Iceland';
    font-size: 164px;
    color: #586C3D;
}

.hero-text h2 {
    font-size: 30px;
    font-weight: 400;
    width: 80%;
    padding-left: 8px;
    color: #838383;

}

.hero-text a {
    display: inline-block;
    margin-top: 40px;
    padding: 8px 20px;
    background: #586C3D;
    color: #fff;
    border-radius: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;

}

.imgBox {
    width: 54%;
    padding-left: 20px;
}

.ecohome {
    min-width: 500px;
}






